node.json
[
  {
    "id": "manualAutoSwitch",
    "type": "ui_switch",
    "z": "main",
    "name": "Mode Switch",
    "label": "Manual / Auto",
    "group": "controlGroup",
    "order": 0,
    "width": 6,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "onvalue": "manual",
    "onvalueType": "str",
    "offvalue": "auto",
    "offvalueType": "str",
    "x": 160,
    "y": 80,
    "wires": [["modeRouter"]]
  },
  {
    "id": "modeRouter",
    "type": "function",
    "z": "main",
    "name": "Route based on mode",
    "func": "flow.set(\"mode\", msg.payload);\nreturn null;",
    "outputs": 0,
    "x": 370,
    "y": 80,
    "wires": []
  },
  {
    "id": "manualFilter",
    "type": "function",
    "z": "main",
    "name": "Only send if manual",
    "func": "if (flow.get(\"mode\") === \"manual\") {\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "x": 400,
    "y": 200,
    "wires": [["toMQTT"]]
  },
  {
    "id": "toMQTT",
    "type": "mqtt out",
    "z": "main",
    "name": "To Terminator",
    "topic": "terminator/control",
    "qos": "",
    "retain": "",
    "x": 640,
    "y": 200,
    "wires": []
  },
  {
    "id": "btnLeft",
    "type": "ui_button",
    "z": "main",
    "name": "Head Left",
    "group": "manualGroup",
    "order": 1,
    "width": 3,
    "height": 1,
    "label": "Head Left",
    "icon": "fa-arrow-left",
    "payload": "head_left",
    "payloadType": "str",
    "x": 160,
    "y": 160,
    "wires": [["manualFilter"]]
  },
  {
    "id": "btnRight",
    "type": "ui_button",
    "z": "main",
    "name": "Head Right",
    "group": "manualGroup",
    "order": 2,
    "width": 3,
    "height": 1,
    "label": "Head Right",
    "icon": "fa-arrow-right",
    "payload": "head_right",
    "payloadType": "str",
    "x": 160,
    "y": 200,
    "wires": [["manualFilter"]]
  },
  {
    "id": "btnLeftHandUp",
    "type": "ui_button",
    "z": "main",
    "name": "Left Hand Up",
    "group": "manualGroup",
    "order": 3,
    "width": 3,
    "height": 1,
    "label": "Left Hand Up",
    "icon": "fa-hand-rock-o",
    "payload": "left_hand_up",
    "payloadType": "str",
    "x": 160,
    "y": 240,
    "wires": [["manualFilter"]]
  },
  {
    "id": "btnLeftHandDown",
    "type": "ui_button",
    "z": "main",
    "name": "Left Hand Down",
    "group": "manualGroup",
    "order": 4,
    "width": 3,
    "height": 1,
    "label": "Left Hand Down",
    "icon": "fa-hand-paper-o",
    "payload": "left_hand_down",
    "payloadType": "str",
    "x": 160,
    "y": 280,
    "wires": [["manualFilter"]]
  },
  {
    "id": "btnRightHandUp",
    "type": "ui_button",
    "z": "main",
    "name": "Right Hand Up",
    "group": "manualGroup",
    "order": 5,
    "width": 3,
    "height": 1,
    "label": "Right Hand Up",
    "icon": "fa-hand-rock-o",
    "payload": "right_hand_up",
    "payloadType": "str",
    "x": 160,
    "y": 320,
    "wires": [["manualFilter"]]
  },
  {
    "id": "btnRightHandDown",
    "type": "ui_button",
    "z": "main",
    "name": "Right Hand Down",
    "group": "manualGroup",
    "order": 6,
    "width": 3,
    "height": 1,
    "label": "Right Hand Down",
    "icon": "fa-hand-paper-o",
    "payload": "right_hand_down",
    "payloadType": "str",
    "x": 160,
    "y": 360,
    "wires": [["manualFilter"]]
  },
  {
    "id": "colorPicker",
    "type": "ui_colour_picker",
    "z": "main",
    "name": "LED Color",
    "label": "LED Eyes Color",
    "group": "manualGroup",
    "format": "rgb",
    "outformat": "string",
    "showSwatch": true,
    "order": 7,
    "width": 6,
    "height": 1,
    "passthru": true,
    "x": 180,
    "y": 400,
    "wires": [["manualFilter"]]
  },
  {
    "id": "controlGroup",
    "type": "ui_group",
    "name": "Control Mode",
    "tab": "dashboardTab",
    "order": 1,
    "disp": true,
    "width": 6
  },
  {
    "id": "manualGroup",
    "type": "ui_group",
    "name": "Manual Controls",
    "tab": "dashboardTab",
    "order": 2,
    "disp": true,
    "width": 6
  },
  {
    "id": "dashboardTab",
    "type": "ui_tab",
    "name": "Terminator Control",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "mqttBroker",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883"
  }
]
